{% extends 'base.html' %}

{% block title %}
<title>Главная</title>
{% endblock%}

{% block body %}

<h1> We have: </h1>

{% for i in data %}


<div class="product">
    <img src="product.jpg" alt="Product Image">
    <p>Product description goes here.</p>
    <p>Product grade {{i['grade']}}</p>
    <p>Price: ${{i['price']}}</p>
    <button id="send_{{i['productId']}}">Add to Cart</button>

    <script>
        let sendButton = document.getElementById("send_{{i['productId']}}"); 

        sendButton.addEventListener('click', function(){
            tg.sendData("asdfasdf")
            tg.sendData("Product#{{i['productId']}}")
            alert("message data were send")
            tg.close();
        });
    </script>

</div>
<hr>

{% endfor %}

{% endblock %}