{% extends 'base.html' %}

{% block title %}
<title>Главная</title>
{% endblock%}

{% block body %}
<script>
    var cart = {}

    function cartItemsCounter(cartDict) {
        var count = 0;
        for (var key in cartDict) {
            if (cartDict.hasOwnProperty(key)) {
                if (cartDict[key].amount > 0) {
                    count++;
                }
            }
        }
        return count;
    }

    function cartSum(cartDict) {
        var res = 0;
        for (var key in cartDict) {
            if (cartDict.hasOwnProperty(key)) {
                res+= cartDict[key].amount * cartDict[key].price;
            }
        }
        return res;
    }
</script>
<div id="shopDiv">
    <h1> We have: </h1>

    {% for i in data %}

    <div class="product">
        <img src="product.jpg" alt="Product Image">
        <p>Product description goes here.</p>
        <p>Product grade {{i['grade']}}</p>
        <p>Price: ${{i['price']}}</p>
        <button id="addToCartButton_{{i['productId']}}">Add to Cart</button>
        <button id="removeFromCartButton_{{i['productId']}}">remove from Cart</button>
        <p>Already in Cart: <b id="cartCount_{{i['productId']}}">0</b></p>
        <script>

            cart[{{i['productId']}}] = { "price": {{i['price']}}, "amount": 0 };
            //console.log(cart);

            let addToCartButton{{i['productId']}} = document.getElementById("addToCartButton_{{i['productId']}}"); 

            addToCartButton{{i['productId']}}.addEventListener('click', function(){
                cart[{{i['productId']}}]["amount"] += 1;
                let cartCount_{{i['productId']}} =  document.getElementById("cartCount_{{i['productId']}}");
                cartCount_{{i['productId']}}.textContent = cart[{{i['productId']}}]["amount"];
                let cartCntText = document.getElementById("cartCnt");
                cartCntText.textContent = cartItemsCounter(cart);
                let cartSumText = document.getElementById("cartSum");
                cartSumText.textContent = cartSum(cart);
                //console.log(cartItemsCounter(cart));
                console.log(cart);
                //tg.sendData("Product#{{i['productId']}}")
                //alert("message data were send")
            });


            let removeFromCartButton_{{i['productId']}} = document.getElementById("removeFromCartButton_{{i['productId']}}"); 
            removeFromCartButton_{{i['productId']}}.addEventListener('click', function(){
                if(cart[{{i['productId']}}]["amount"] == 0){
                    return;
                }
                cart[{{i['productId']}}]["amount"] -= 1;
                let cartCount_{{i['productId']}} =  document.getElementById("cartCount_{{i['productId']}}");
                cartCount_{{i['productId']}}.textContent = cart[{{i['productId']}}]["amount"];
                let cartCntText = document.getElementById("cartCnt");
                cartCntText.textContent = cartItemsCounter(cart);
                let cartSumText = document.getElementById("cartSum");
                cartSumText.textContent = cartSum(cart);
                //console.log(cartItemsCounter(cart));
                console.log(cart);
                //tg.sendData("Product#{{i['productId']}}")
                //alert("message data were send")
            });
        </script>

    </div>
    <hr>
    {% endfor %}
</div>
<div id="сartDiv">
    <div id="cartItemsDiv">
        <h3>You have:</h3>

    </div>
    <h4>In your cart: <b id="cartCnt"> 0 </b> items for total sum of: <b id="cartSum">0</b>.</h4>
    <button id="ShowCartButton">View Cart</button>
    <script>
        let ShowCartButton = document.getElementById("ShowCartButton");
        document.getElementById("cartItemsDiv").style.display = "none"; 

        ShowCartButton.addEventListener('click', function(){
            let shopDiv = document.getElementById("shopDiv");
            
            if (shopDiv.style.display === "none") {
                shopDiv.style.display = "block";
                ShowCartButton.textContent = "View Cart";
            }
            else if (shopDiv.style.display === "block" || shopDiv.style.display === "") {
                shopDiv.style.display = "none";
                ShowCartButton.textContent = "Back to the shop.";
            }
            

            let cartItemsDiv = document.getElementById("cartItemsDiv");

            cartItemsDiv.innerHTML = "<h3>You have:</h3>"; // Clear previous content 

            Object.keys(cart).forEach(function(key) {
                var item = cart[key];
                if (item.amount >= 1) {
                    var p = document.createElement("p");
                    p.textContent = "Price for one: $" + item.price + ", Amount: " + item.amount + ", ProductId: " + key;
                    cartItemsDiv.appendChild(p);
                }
            });

            if (cartItemsDiv.style.display === "none") {
                cartItemsDiv.style.display = "block";
            }
            else if (cartItemsDiv.style.display === "block" || cartItemsDiv.style.display === "") {
                cartItemsDiv.style.display = "none";
            }
            console.log(cartItemsDiv.style.display);
        });
    </script>
</div>
<button id="buyButton"> Buy whole cart </button>
<script> 
    let buyButton = document.getElementById("buyButton");

    buyButton.addEventListener('click', function(){
        cart["sum"] = cartSum(cart);
        var jsonCart = JSON.stringify(cart);
        console.log(jsonCart);
        alert(jsonCart);
        tg.sendData(jsonCart);
    });
</script>
{% endblock %}